

<!-- <div [style.background-color]="getColor(todo.priority)"   class="todo-card" *ngFor="let todo of todosArray">
  <span>{{todo.name}}</span>
  <span>{{getCorrectDate(todo.creationDate)}}</span>
  <span>{{todo.priority}}</span>
  <span>{{getDescription(todo.priority)}}</span>

</div> -->

<h1>{{title}}</h1>
<!-- <button (click)="toLuxuryMode()">Passa a modalità lusso!</button> -->
<app-todo-list></app-todo-list>
<h2>Todo Completati</h2>
<app-done-list></app-done-list>
<!-- <router-outlet></router-outlet> -->
